@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
:root {
    --main-radius: 0px;
    --main-padding: 45px;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.or{
  color: black;
}
::before {
  color: black;
}
html{
  scroll-behavior: smooth;
}
.containervillage{
  height:2160px;
  background-image:url('Img/Frame\ 42.png')
}
.fa-brands,a{
  color: white;
}
.logo, a{
  padding-top: 25px;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}
.sidebar {
  position: fixed;
  background-color: black;
  width: 100px;
  height: 1080px;
}
.re{
  color: white;
  text-align: center;
  text-transform: uppercase;
  writing-mode:  vertical-rl;
  padding-left: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  cursor: pointer;

}
a{
  padding-top: 80px;
}
.nav-container{
  display: flex;
  justify-content: flex-end;
  color: white;
}
ul{
  font-family: "Raleway", sans-serif;
  padding-right: 240px;
}
.list-item{
  padding-top: 25px;
  list-style-type: none;
  display: inline-block;
}
.links, a{
  text-decoration: none;
  color: white;
  padding: 10px;
  padding-top: 40px;
  font-size: 15px;
  font-weight: 400;
}
.img{
  background-image: url('Img/landing.png');
  background-size: cover;
  height: 1080px;
}
.slide-show{
  width: 100%;
}
.content{
  height: 1080px;
}
.next{
  color: white;
  padding-bottom: 400px;
  padding-left: 200px;
  margin-bottom: 20px;
}

/* landing style ends */
.img-ex{
  background-image: url("img/a.jpg");
  background-size: cover;
  height: 100vh;
}
.content-text-exhibitions{
  text-align: left;
  align-self: center;  
  color: white;
  padding-top: 145px;
  font-family: "Raleway", sans-serif;
  padding-left: 1240px;
}






/* artists style  */
.artists-container{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  
}
.img-box{
  width: 32%;
  padding-bottom: 1%; /* Same as width, sets height */
  margin-bottom: 2%; /* (100-32*3)/2 */
  position: relative;
}
.img-box:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.logo-container{
  color: black;
  width: 100px;
  height: 1080px;
}
.hero-ar{
  position: relative;
  padding-top: 140px;
}
.header-ar:after{
  display: inline-block;
    content: '';
    height: 1px;
    margin: -1px 0 0 15px;
    vertical-align: middle;
    width: 175px;
}
.header-ar{
  /* padding-left: 118px; */
  padding-left: 120px;
  font-family: "Raleway" , sans-serif;
  
}
.artist-name{
  font-family: "Raleway" , sans-serif;
  font-weight: 500;
  font-size: 25px;
}
.artist-origin{
  font-family: "Raleway" , sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.logo-ar{
  padding-top: 25px;
  padding-left: 45px;
  text-align: center;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}
.icon{
  color: black;
}
.ar-logo{
  color: black;
  font-weight: 800;
  font-size: 1.25rem;
}
.container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
}

li{

  padding-top: 25px;
  list-style-type: none;
  display: inline-block;
  padding: 25px;
}
.ar{
  color: black;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
}







.copyright{
  padding-top: 1px;
  color: white;
  font-family: "Opensans", sans-serif;
  text-align: center;
  width: 100%;
} 

.fa-brands-footer,a{
  color: white;
}

.container1{
  background-color: black;
  color: white;
  height: 600px;
  position: relative;
}
.section-gallary{
  padding-top: 45px;
  padding-left: 20px
}
.row{
  display: flex;
  padding-top: 140px;
  padding-left: 145px;
}
.column{
  flex: auto;
  padding: 30px;
}
.contact-title{

  font-size: 20px;
  font-weight: 800;
  font-family: "Open Sans" , sans-serif;
}
.section{
  padding: 20px;
}

.title{
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  font-family: "Open Sans" , sans-serif;
}
.line{
  background-color: transparent;
  color: #eeeeee;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #eeeeee 1px;
  padding-top: 10px;
}
.section-garden{
  padding-top: 55px;
  padding-left: 20px
}
.section-text{
  padding-top: 15px;

  font-size:15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.text{
  font-size:15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.text-mail{
  font-size:10px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size:15px;
  font-weight: 400;
  font-family: "Open Sans";
}
input{
  background: none;
  color: rgba(255,255,255,.2);
  border: none;
}
a.social{
   padding-left: 2px;
}

.mailing{
  padding-top: 10px;
}
footer{
  background-color: black;
}
i{
  padding-top: 40px;
}
/* pricing */
.artists-container1{
  display: flex;
}
.container-image{
  align-self: flex-start;
  padding-left: 420px;
}
.container-image1{
  align-self: flex-start;
  padding-left: 420px;
  padding-top: 120px;
  padding-bottom: 145px;
}
.container-text1{
  padding-top: 120px;
  padding-left: 45px;
}
.container-text{
  flex: 1 1 auto;
  padding-left: 45px;
}
p{
  width: 400px;
}
.header-ar1{
  padding-left: 428px;
  padding-bottom: 45px;
  font-family: "Raleway" , sans-serif;
}

.logo-ar1{
  color: black;
  padding-top: 25px;
  text-align: center;

  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-1{
  position: fixed;
  
  width: 100px;
  height: 1080px;
}
a.links-p {
  padding-top: 250px;
  color: black;
}
.container-text h5{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 10px;

}
.container-text h4{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 25px;
}
.container-text h6{
  font-family:"Raleway";
  font-weight:400;
  font-size: 10px;

}
.container-text p {
  font-family:"Raleway";
  font-weight:400;
  font-size: 10px;
}
.container-text1 h5{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 10px;

}
.container-text1 h4{
  font-family: "Raleway";
  font-weight: 400;
  font-size: 25px;
}
.container-text1 h6{
  font-family:"Raleway";
  font-weight: 400;
  font-size: 10px;

}
.container-text1 p {
  font-family:"Raleway";
  font-weight: 400;
  font-size: 10px;
}
/* exhibition1 styling */
.container-lane{
  background-image: url('Img/lane.png');
  height: 2160px;
}
.artist-info{
  width: 100%;
  height: 489px;
  background-color: #181818;
}
.header-name{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 45PX;
  color: white;
  padding-left: 145px;
  padding-right: 45px;
  padding-top: 45px;
}
.imglane{
  background-image: url('Img/Frame\ 45.png');
  background-size: cover;
  height: 1080px;
}
.artist-info{
  display: flex;
  justify-content: space-between;
}
.bio{
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-top: 40px;
  width: 780px;
}
.neri{
  margin-top: 100px;
}
.slide{
  height: 2160px;
}
/* references styling */
.reference{
  background-color: black;
}
.container {
  display: flex;
 justify-content: flex-end;
 text-align: left;

}
.textcontainer{
  background-color:black;
}

.citation {
  width: 497px;
  background-color:black;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 236px;
  left: 284px;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.citation2 {
  width: 497px;
  background-color:black;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 236px;
  left: 989px;
  font-family:"Raleway";
  font-weight: 400;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.bottomrow {
  width: 749px;
  background-color:black;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 928px;
  left: 1111px;
  font-family: Raleway;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

a.rf-logo {
  color: white;
     font-weight: 800;
    font-size: 1.25rem;
}
.rf{
  color: white;
  text-decoration: none;
    font-weight: normal;
    font-size: 15px;
}
/* exhibitions2 styling */
.sidebar4{
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  width: 100px;
  height: 1080px;
}
.imgunfolding{
  background-image: url('Img/Frame\ 44.png');
  background-size: cover;
  height: 1080px;
}
/* designdoc styling */

.designdocimg {
  padding-left: 450px;
}
.title-section{
  background-color: black;
  font-family: "Raleway", sans-serif;
}
.design{
  background-color: black;
}
.design-tittle{
  color: white;
  font-family: "Raleway", sans-serif;
  padding-left: 450px;
  font-weight: 800;
}
.design-tittles{
  color: white;
  font-family: "Raleway", sans-serif;
  padding-left: 450px;
  font-weight: 400;
}
.artist-links{
  color: black;
}
